.profile {
  display: flex;
  padding-top: 40px;
  align-items: center;
  max-width: 880px;
}

.gallery__profile {
  max-height: 77px;
  align-items: center;
  padding-left: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "button"
    "subtitle";
  grid-template-columns: minmax(auto, 415px) auto;
  max-width: 282px;
}

.gallery__avatar {
  height: 120px;
  width: 120px;
}

.gallery__title {
  max-height: 48px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  overflow: hidden;
  width: 100%;
}

.gallery__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: subtitle;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.gallery__button,
.gallery__button-plus {
  height: 24px;
  width: 24px;
  padding: 0;
  border: 1px solid white;
  margin: 0;
  background: transparent url(/images/pen\ icon.png) center no-repeat;
}

.gallery__button-plus {
  height: 50px;
  width: 50px;
  background: transparent url(/images/plus\ icon.png) center no-repeat;
}
