.page {
  background-color: black;
  color: white;
}
.page__content {
  margin: 45px 200px 145px 200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: fit-content;
}
.page__section {
  margin: 0 auto;
  max-width: 880px;
  inline-size: -webkit-fill-available;
}
.page__header {
  position: relative;
}
.logo {
  display: flex;
  margin: 0;
  justify-self: start;
}
