.page__header {
  position: relative;
}
.logo {
  padding-top: 45px;
  margin: 0;
}
.page {
  background-color: black;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__footer {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 880px;
  margin-inline: auto;
}

@media screen and (max-width: 320px) {
  .page__footer {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    max-height: 14px;
    margin: auto;
  }
}
@media screen and (max-width: 635px) {
  .profile {
    padding-bottom: 0 !important;
  }
  .card__list {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
  }
  .card:nth-of-type(1) {
    margin-top: 0;
    padding-top: 36px;
  }
  .page__footer {
    padding: 48px 0 36px 0;
  }
  .profile__button-plus {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 1100px) {
  .page__content {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}
@media screen and (max-width: 713px) {
  .logo {
    margin-left: 10%;
  }
  .page {
    min-width: 320px;
    min-inline-size: auto;
  }
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-end;
  }
  .profile__subtitle {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
    margin-top: 0;
  }
  .profile__add-button {
    margin: 0;
    width: 282px;
  }
  .profile__title {
    padding-top: 30px;
    font-size: 22px;
    line-height: 26px;
    margin-right: 10px;
  }
  .profile__image {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .profile__button-plus {
    width: 282px;
  }
}
@media screen and (min-width: 935px) {
  .card:nth-child(-n + 3) {
    margin-top: 0;
  }
}
