.profile {
  padding: 40px 0 51px 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.profile__info {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    " title button "
    "description description";
  align-items: center;
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin: 0;
}
.profile__title {
  max-height: 48px;
  margin: 0;

  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  overflow: hidden;
}

.profile__subtitle {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile__button {
  background: transparent url(/images/pen\ icon.png) center no-repeat;
  height: 24px;
  width: 24px;
  padding: 0;
  border: 1px solid white;

  grid-area: button;
}

.profile__button:hover {
  opacity: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.profile__button-plus {
  background: transparent url(/images/plus\ icon.png) center no-repeat;
  min-width: 150px;
  height: 50px;
  margin: 0;
  border: solid #ffffff 2px;
  border-radius: 2px;
}
.profile__button-plus:hover {
  opacity: 50%;
  transition: 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 635px) {
  .profile {
    padding-bottom: 0 !important;
  }
  .profile__button-plus {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 713px) {
  .profile__subtitle {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;

    font-size: 14px !important;
    padding-bottom: 36px;
  }
  .profile__button-plus {
    margin: 0;
    max-width: 282px;
  }
  .profile__title {
    padding-top: 30px;
    font-size: 22px !important;
    max-width: 208px;
    line-height: 26px;
    margin-right: 10px;
    justify-self: center;
  }
}
